@import 'mixin';
%readable-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  left: -99999em;
  border: 0;
  padding: 0;
  margin: -1px;
}
%ir {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
%common {
  width: 32px;
  height: 32px;
  line-height: 32px;
}
%text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
